<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">

        {{ encore_entry_link_tags('app') }}

    </head>
    <body>

    {{ encore_entry_script_tags('app') }}

        <header>
            <div class="header">
                <div class="logo">
                    <img id="img" style="width: 3em; height: 3em" src="{{ asset('img/logo.svg') }}" alt="logo">
                </div>
                <div class="title">
                    <h1 id="titreH1">Bucket-List</h1>
                </div>
            </div>
            <div class="nav">
                {% block nav %}
                    <nav id="nav">
                        <a  href="{{ path('main.home.html.php') }}">Home</a>
                        <a  href="{{ path('liste') }}">All wishes</a>
                        <a  href="{{ path('idee') }}">Add yours !</a>
                        <a  href="{{ path('about_us') }}">About us</a>
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}">Se connecter</a>
                            <a href="{{ path('app_register') }}">S'enregistrer</a>
                        {% endif %}

                        {% if app.user %}
                            <a href="{{ path('app_logout') }}">Se déconnecter - Bonjour {{ app.user.username }} !</a>
                        {% endif %}
                    </nav>
                {% endblock %}
            </div>
        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="divMess">
                            <div class="messFlash">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p><em>© Bucket-List {{ "now" | date('Y') }}</em></p>
        </footer>
    </body>
</html>
